{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<section data-bs-version="5.1" class="form7 cid-u5uXzWpi1R" id="form7-r">
		<div class="container">

			<div class="container my-1">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="text-center mb-4 titleH1">
							<h1 class="p-3 mb-0">Connexion des utilisateurs</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center mt-4">
				<div class="col-lg-8 mx-auto mbr-form">

					<script>
						// Sélection du lien avec la classe refreshForm
const refreshLink = document.querySelector('.refreshForm');

// Ajout d'un écouteur d'événements sur le lien
refreshLink.addEventListener('click', function (event) { // Empêcher le comportement par défaut du lien
event.preventDefault();

// Récupérer l'URL du lien
const url = this.getAttribute('href');
// window.alert('OK');
// Effectuer la redirection vers l'URL récupérée
window.location.href = url;
});
					</script>

					<form action="" method="POST" data-rcpha_sitekey="" data-rcpha_secretkey="" class="mbr-form form-with-styler mx-auto" data-verified="">
						<p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
							Veuillez vous identifier
						</p>

						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connécté en tant que :
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						<div class="dragArea row">
							<div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
								<label for="inputEmail">Email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control inputCustom" autocomplete="email" required autofocus>
							</div>
							<div data-for="password" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
								<label for="inputPassword">mot de passe</label>
								<input type="password" name="password" id="inputPassword" class="form-control emailInput inputCustom" autocomplete="current-password" required>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="col-auto mbr-section-btn align-center">
								<button type="submit" class="btn btn-primary display-4">
									Valider
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}
