{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<section data-bs-version="5.1" class="mt-5" id="form7-r">
		<div class="container main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="mbr-section-head titleH1 fs-2">
						<h2 class="mbr-fonts-style align-center pt-1">
							Inscription
						</h2>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>

			<div class="row justify-content-center mt-5">
				<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card bg-light rounded-5 p-4">
                <form action="" method="POST" data-form-title="Form Name">
                    <fieldset class="text-center">
                        <legend class="pt-2">Vous êtes</legend>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="categorie" value="Candidat" id="categorie_candidat"/>
                            <label class="form-check-label" for="categorie_candidat">Candidat</label>
                        </div>
                        <div class="form-check form-check-inline ms-3">
                            <input class="form-check-input" type="radio" name="categorie" value="Recruteur" id="categorie_recruteur"/>
                            <label class="form-check-label" for="categorie_recruteur">Recruteur</label>
                        </div>
                        <hr>
                    </fieldset>

                    <div class="text-center fs-5 bg-danger">
                        {% for label, messages in app.flashes %}
                            <div class="flash-{{ label }}">
                                {% for message in messages %}
                                    <div class="flash-messageSelect flash-messageSuccess">{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}

                    <div class="row">
                        <div class="col-12 mb-3">
                            <div id="candidat_container">
                                {{ form_label(registrationForm.candidat.nom) }}
                                {{ form_widget(registrationForm.candidat.nom, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div id="metier_container">
                                {{ form_label(registrationForm.metier) }}
                                {{ form_widget(registrationForm.metier, { 'attr': {'class': 'form-control border text-muted'} }) }}
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div id="recruteur_container">
                                {{ form_label(registrationForm.recruteur.nomEntreprise) }}
                                {{ form_widget(registrationForm.recruteur.nomEntreprise, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-group">
                                {{ form_row(registrationForm.plainPassword, { 'label': 'Mot de passe', 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-check">
                                {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <div class="form-note">
                                Vous avez déjà un compte? <a href="/login">Connexion</a>
                            </div>
                        </div>
                    </div>

                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
    </div>
</div>

			</div>
		</div>
	</section>

	<script>
		document.addEventListener('DOMContentLoaded', function () { // Sélectionne les éléments radio et les conteneurs du métier, du candidat et du recruteur
		const categorieCandidat = document.querySelector('#categorie_candidat');
		const categorieRecruteur = document.querySelector('#categorie_recruteur');
		const metierContainer = document.getElementById('metier_container');
		const candidatContainer = document.getElementById('candidat_container');
		const recruteurContainer = document.getElementById('recruteur_container');
	

	 // Fonction pour griser les champs du candidat
    function griserChampsCandidat() {
        candidatContainer.querySelectorAll('input, select').forEach(function (element) {
            element.disabled = false;
        });
        recruteurContainer.querySelectorAll('input, select').forEach(function (element) {
            element.disabled = true;
        });
		 // Active le champ de sélection du métier pour les candidats
        metierContainer.querySelectorAll('select').forEach(function (element) {
            element.disabled = false;
        });	
    }

    // Fonction pour griser les champs du recruteur
    function griserChampsRecruteur() {
        recruteurContainer.querySelectorAll('input, select').forEach(function (element) {
            element.disabled = false;
        });
        candidatContainer.querySelectorAll('input, select').forEach(function (element) {
            element.disabled = true;
        });
		 metierContainer.querySelectorAll('select').forEach(function (element) {
            element.disabled = true;
        });
    }

    // Ajoute des écouteurs d'événements aux éléments radio
    categorieCandidat.addEventListener('change', function () {
        if (this.checked) {
            griserChampsCandidat();
        }
    });

    categorieRecruteur.addEventListener('change', function () {
        if (this.checked) {
            griserChampsRecruteur();
        }
    });

    // Applique le statut initial lors du chargement de la page
    if (categorieCandidat.checked) {
        griserChampsCandidat();
    } else if (categorieRecruteur.checked) {
        griserChampsRecruteur();
    }


// Fonction asynchrone pour que le message d'erreur soit visible pendant 4 secondes du sélect
let flashMessagesSelect = document.querySelectorAll('.flash-messageSelect');
async function cacherMessagesFlash() {
for (let flashMessage of flashMessagesSelect) {
await new Promise(resolve => setTimeout(resolve, 4000));
flashMessage.style.display = 'none';
}
}
// Appele la fonction pour cacher les messages flash
cacherMessagesFlash();


// Fonction asynchrone pour gérer les messages flash et la redirection
async function gererMessagesFlashEtRedirection() {
let flashMessagesSuccess = document.querySelectorAll('.flash-messageSuccess');
let flashMessageOk = false;
for (let flashMessage of flashMessagesSuccess) {
await new Promise(resolve => setTimeout(resolve, 4000));
flashMessage.style.display = 'none';
flashMessageOk = true;
}
// Redirection sur la page d'accueil
if (flashMessageOk === true) {
window.location.href = "{{ path('app_home') }}";
}
}

// Appele la fonction pour gérer les messages flash et la redirection
gererMessagesFlashEtRedirection();
});
	</script>
{% endblock %}
