{% extends 'base.html.twig' %}

{% block title %}liste des annonces{% endblock %}
{% block stylesheets %} {% endblock %}

{% block body %}
	<div class="container">
		<div class="afterHeader">
			<h1 class="pt-1">Liste des annonces actuellement disponibles</h1>
		</div>

		<div class="mb-5">
			<table class="table table-striped table-hover  ">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Recruteur</th>
						<th>Poste</th>
						<th>Lieu</th>
						<th>Horaire</th>
						<th>Salaire</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for annonce in annonces %}
						{# {% set recruteur = annonce.IDrecruteur %}	 #}

						<tr>
							<td>{{ annonce.id }}</td>
							<td>{{ annonce.recruteur.nomEntreprise }}</td>
							<td>{{ annonce.poste }}</td>
							<td>{{ annonce.lieu }}</td>
							<td>{{ annonce.horaire }}</td>
							<td>{{ annonce.salaire }}</td>
							<td>{{ annonce.description }}</td>
							<td>
								<a href="{{ path('app_home', {'id': annonce.id}) }}" class="btn btn-primary btn-sm rounded">Postuler</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


	</div>
{% endblock %}

{% block javascripts %}	{% endblock %}
