{% extends 'base.html.twig' %}

{% block title %}compte candidat
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

	{# 	{{ dump(app.user) }} #}


	<div class="afterHeader">
		<div class="mt-2 mb-1">
			<h1 class="">Espace personnel de la société :
				<span class="fs-1 ps-2 pe-2 bg-warning">
					{% if app.user.recruteur %}
						{{ app.user.recruteur.nomEntreprise }}
					{% else %}
						(Aucune société associée)
					{% endif %}
				</span>
			</h1>
		</div>
	</div>


	<div class="">
		<div class=" ">
			<div
				class="section">

				{# Message pour confirmation du candidat qui a postulé #}
				<div class="container" id="flash-messages">
					<div class="messages-container">
						{% for message in app.flashes('error') %}
							<div class="alert flashError centered" role="alert">{{ message }}</div>
						{% endfor %}

						{% for message in app.flashes('success') %}
							<div class="alert alert-success centered" role="alert">{{ message }}</div>
						{% endfor %}
					</div>
				</div>


				<div class="container">
					<div class="row">
						<div
							class="col-lg-2 col-md-2">
							{# Navbar #}
							<div class="dashboard_menu bg-light	 rounded-2">
								<ul class="nav flex-column" role="tablist">
									<li class="nav-item fs-5 text-warning">
										<a class="nav-link text-center" id="orders-tab" data-bs-toggle="tab" href="#lastAnnonces" role="tab" aria-controls="lastAnnonces" aria-selected="false">
											<i class="ti-shopping-cart-full"></i>Dernières annonces</a>
									</li>
									<li class="nav-item fs-5 text-warning">
										<a class="nav-link text-center" id="ajoutAnnonces-tab" data-bs-toggle="tab" href="#addAnnonces" role="tab" aria-controls="addAnnonces" aria-selected="false">
											<i class="ti-shopping-cart-full"></i>Ajouter une annonce</a>
									</li>
									<li class="nav-item fs-5">
										<a class="nav-link text-center text-nowrap" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true">
											<i class="ti-location-pin"></i>Coordonnées</a>
									</li>
									<li class="nav-item fs-5">
										<a class="nav-link text-center" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true">
											<i class="ti-id-badge"></i>Compte</a>
									</li>
									<li class="nav-item fs-5">
										<a class="nav-link text-center" id="logout-tab" href="#logout" data-bs-toggle="tab" role="tab" aria-controls="logout" aria-selected="true">
											<i class="ti-lock"></i>Supprimer le compte</a>
									</li>
								</ul>
							</div>
						</div>

						{# Colonne de droite pour les informations du menu #}
						<div class="col-lg-10 col-md-10">
							<div
								class="tab-content dashboard_content">

								{# Message de départ #}
								<div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
									<div class="card">
										<div class="card-header bg-light ">
											<h3 class="text-center">Gestion des recrutements</h3>
										</div>
										<div class="card-body bg-light">
											<div class="d-flex align-item-center justify-content-center">
												<p class="fs-5">
													La gestion des recruteurs consiste à gérer et optimiser les processus de recherche, d'évaluation et d'intégration de candidats au sein d'une entreprise.
													<br><br>
													C'est donc ce back-office que s'effectue la gestion pour trouver les candidats correspondants.
												</p>
											</div>

										</div>
									</div>
								</div>

								{# Dernières annonces #}
								<div class="tab-pane fade" id="lastAnnonces" role="tabpanel" aria-labelledby="lastAnnonces-tab">
									<div class="card bg-light">
										<div class="card-header">
											<h3 class="text-center">Liste des annonces</div>
											<div class="card-body">
												<table class="table-bordered table-striped table-hover">
													<thead>
														<tr class="text-center">
															<th>ID</th>
															<th>Date</th>
															<th>Poste</th>
															<th>Lieu</th>
															<th>Horaire</th>
															<th>Salaire</th>
															<th>Description</th>
															<th>Réponses</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr class="text-center">
															{% if app.user.recruteur %}
																{% for annonce in app.user.recruteur.annonces %}
																	<tr class="text-center">
																		{% if annonce.publie %}
																			<td>{{ annonce.id }}</td>
																			<td>{{ annonce.dateCreation|date('Y.m.d') }}</td>
																			<td>{{ annonce.poste }}</td>
																			<td>{{ annonce.lieu }}</td>
																			<td>{{ annonce.horaire }}</td>
																			<td>{{ annonce.salaire }}</td>
																			<td>{{ annonce.description }}</td>
																			<td>
																				<div class="position-relative p-1">
																					<form action="{{ path('app_reponseCandidat', {'id': annonce.id}) }}" method="post" class="delete-post">
																						<button type="submit" class="btn-blue rounded text-nowrap">candidats</button>
																					</form>
																				</div>
																			</td>

																			<td>
																				<div class="position-relative p-1">
																					<form
																						action="{{ path('app_supprimerAnnonce', {'id': annonce.id}) }}" method="post" class="delete-jobListing">
																						{# {{ dump(annonce) }} #}
																						<button type="submit" class="rounded text-nowrap btn-red">Supprimer</button>
																					</form>
																				</div>
																			</td>
																		{% endif %}
																	</tr>
																{% endfor %}
															{% endif %}
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>

									{# Ajout d'annonces #}
									<div class="tab-pane fade bg-light" id="addAnnonces" role="tabpanel" aria-labelledby="addAnnonces-tab">
										<div class="card-header ">
											<h3 class="text-center">Ajout d'annonces</h3>
										</div>

										<div class="card-body bg-light">
											<form method="POST" action="{{ path('add_annonce') }}" class="bg-light">
												<div class="row">
													<div class="col">
														<label for="date">Date</label>
														<input type="date" class="form-control inputCustom" id="date" name="date">
													</div>
													<div class="col">
														<label for="lieu">Lieu</label>
														<input type="text" class="form-control inputCustom" id="lieu" name="lieu">
													</div>
												</div>
												<div class="row">
													<div class="col">
														<label for="poste">Poste</label>
														<input type="text" class="form-control inputCustom" id="poste" name="poste">
													</div>
												</div>
												<div class="row">
													<div class="col">
														<label for="horaire">Horaire</label>
														<input type="text" class="form-control inputCustom" id="horaire" name="horaire">
													</div>
													<div class="col">
														<label for="salaire">Salaire</label>
														<input type="text" class="form-control inputCustom" id="salaire" name="salaire">
													</div>
												</div>
												<div class="row">
													<div class="col">
														<label for="description">Description</label>
														<textarea class="form-control inputCustom" id="description" name="description" rows="3"></textarea>
													</div>
												</div>
												<br>
												<div class="row">
													<div class="col">
														<button type="submit" class="btn btn-primary btn-sm rounded btnWidth">Ajouter</button>
													</div>
												</div>
												<div class="row">
													<div class="form-note text-center mt-2">
														<i>PS : les annonces seront publiées après l'accord du consultant du site</i>
													</div>
												</div>
											</form>
										</div>

									</div>

									{# Coordonnées du recruteur #}
									<div class="tab-pane fade bg-light" id="address" role="tabpanel" aria-labelledby="address-tab">
										<div class="row">

											<div class="card-header CoordonneesdRecruteur">
												<h3 class="text-center">Coordonnées du recruteur</h3>
											</div>
											<div class="col-lg-6">
												<div class="card mb-3 mb-lg-0">
													<div class="card-header bg-light">
														<h3 class="text-center">Coordonnée enregistrée</h3>
													</div
													<input type="hidden" name="recruteur_id" value="{{ app.user.recruteur.id }}">
														{# <div >{{dump(app.user.recruteur.id)}}</div> #}

													<div class="card-header bg-light">	
														<div class="border border-solid border-width border-primary my-5 rounded-3 bg-warning">
															<p class="text-center fs-5 pt-4">
															Nom de la société :
															<span class="fs-2 ps-2 pe-2 bg-warning">{{ app.user.recruteur.nomEntreprise }}</span></p>
															
															<address class="fs-5 text-center">Adresse :
															{{ app.user.recruteur.adresse }}<br>Code postal :
															{{ app.user.recruteur.codepostal }}<br>Ville :
															{{ app.user.recruteur.ville}}
															<br><br>

															<p class="fs-5">Pays : France</p>
														</div>
														

														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="card">
														<div class="card-header bg-light">
															<h3 class="text-center">Modifier les Coordonnées</h3>
														</div>
														<div class="card-body bg-light">
															<form method="POST" action="{{ path('modif_coordonnees') }}" class="bg-light">
																<div class="row">

																	<div class="form-group col-md-12 mb-2">
																		<input type="hidden" name="recruteur_id" value="{{ app.user.recruteur.id }}">
																		<label>Adresse
																			<span class="required">*</span>
																		</label>
																		<input required="" class="form-control inputCustom" name="adresse" type="text" value="{{ app.user.recruteur.adresse }}">
																	</div>
																	<div class="form-group col-md-12 mb-2">
																		<label>Code postal
																			<span class="required">*</span>
																		</label>
																		<input required="" class="form-control inputCustom" name="codepostal" value="{{ app.user.recruteur.codepostal }}">
																	</div>

																	<div class="form-group col-md-12 mb-2">
																		<label>Ville
																			<span class="required">*</span>
																		</label>
																		<input required="" class="form-control inputCustom" name="ville" value="{{ app.user.recruteur.ville }}">
																	</div>
																	<div class="form-group col-md-12 mb-2">
																		<label>Email</label>
																		<input required="" class="form-control inputCustom" name="email" value="{{ app.user.recruteur.email }}">
																	</div>

																	<div class="form-group col-md-12 mb-2">
																		<label>Site internet</label>
																		<input class="form-control inputCustom" name="siteinternet" value="{{ app.user.recruteur.siteinternet }}">
																	</div>
																	<div class="col-md-12">
																		<button type="submit" class="btn btn-primary btn-sm rounded btnWidth" name="submit" value="Submit">Valider</button>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>

										{# Détails du compte #}
										<div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
											<div class="card bg-light">
												<div class="card-header">
													<h3 class="text-center">Détails du compte</h3>
												</div>
												<div class="card-header">
													<form method="POST" action="{{ path('modif_compte') }}" class="bg-light">
														<div class="row">
															<div class="form-group col-md-3 mb-2">
																<input type="hidden" name="recruteur_id" value="{{ app.user.recruteur.id }}">
																<label>Nom de l'entreprise</label>
																{% if app.user.recruteur is defined and app.user.recruteur is not null %}
																	<input class="form-control inputCustom" name="nom" type="text" value="{{ app.user.recruteur.nomEntreprise }}" readonly>
																{% else %}
																	<input class="form-control inputCustom" name="nom" type="text" value="">
																{% endif %}
															</div>
															<div class="form-group col-md-4 mb-2">
																<label>Address email</label>
																<input class="form-control inputCustom" name="email" type="email" value="{{ app.user.email }}" readonly>
															</div>
															<div class="form-group col-md-5 mb-2">
																<label>Mot de passe actuel
																	<span class="required">*</span>
																</label>
																<input class="form-control inputCustom" name="password" type="password" value="{{ app.user.password }}" readonly>
															</div>
														</div>

														<div class="row">
															<div class="form-group col-md-3 mb-2"></div>
															<div class="form-group col-md-6 mb-2">
																<label>Nouveau mot de passe</label>
																<input class="form-control inputCustom" name="npassword" type="password">
															</div>
															<div class="form-group col-md-3 mb-2"></div>
														</div>

														<div class="row">
															<div class="form-group col-md-3 mb-2"></div>
															<div class="form-group col-md-6 mb-2">
																<label>Confirmer le mot de passe</label>
																<input class="form-control inputCustom" name="cpassword" type="password">
																<div class="form-group col-md-3 mb-2"></div>
															</div>
														</div>


														<div class="row">
															<div class="form-group col-md-3 mb-2"></div>
															<div class="col-md-6">
																<button type="submit" class="btn btn-primary btn-sm rounded btnWidth" name="submit" value="Submit">Valider</button>
															</div>
															<div class="form-group col-md-3 mb-2"></div>
														</div>

													</form>
												</div>
											</div>
										</div>

										{# Suppression du compte #}
										<div class="tab-pane fade" id="logout" role="tabpanel" aria-labelledby="logout-tab">
											<div class="card bg-light">
												<div class="card-header">
													<h3 class="text-center">Suppression du compte</h3>
												</div>
												<div class="bg-light">
													<p class="text-center mt-3">Vous avez la possibilité de supprimer votre compte, si vous le souhaitez.<br></p>
														<p class="text-center">Vous n'aurez plus d'information concernant vos démarches.<hr>
														<div class="text-center display-4">
															<span class="fw-bold"> Réfléchissez donc bien </span>  avant de supprimer vos annonces.</p>
														</div>
														<div class="mt-4 mb-2">
														<div class="row">
															<div class="form-group col-lg-4 col-md-3 mb-2"></div>
															<div class="form-group col-lg-4 col-md-6 mb-2">
																<form action="{{ path('supprimer_recruteur')}}" method="post" class="delete-count">
																	<input type="hidden" name="_method" value="DELETE">
																	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.recruteur.id) }}">
																	<button type="submit" class="btn btn-red rounded btnWidth">Supprimer le compte</sp></button>
																</form>
															</div>
															<div class="form-group col-lg-4 col-md-3 mb-2"></div>

														</div>

													</div>

												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

	{# ///////////////////////////////////////////////////////// #}
	{# Boite de dialogue pour supprimer le compte recruteur #}
	<div id="overlay"></div>
<div class="row">
    <div class="col-lg-5 col-md-4"></div>
    <div class="col-lg-2 col-md-4">
        <div id="dialogueBox">
            <p>Voulez-vous vraiment supprimer votre compte ?</p>
            <div id="buttonsDiv">
                <button class="btn w-auto btn-blue me-auto" onclick="cancelDeleteAccount()">Annuler</button>
                <button class="btn w-auto btn-red ms-auto" onclick="validateDeleteAccount()">Ok</button>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-4"></div>
</div>


<script type="text/javascript">

// //////////////////////////////////////////////////////////
{# // Messages pour que la durée ne soit que de 3 secondes #}
document.addEventListener('DOMContentLoaded', function () {
var alerts = document.querySelectorAll('.alert');
// Parcourir tous les messages d'alerte
for (var i = 0; i < alerts.length; i++) {
var alert = alerts[i];
// Créer une animation pour faire disparaître le message d'alerte
var fadeOut = new KeyframeEffect(alert, [
{
opacity: 1
}, {
opacity: 0
}
], {
duration: 300,
iterations: 1,
fill: 'forwards'
});
var animation = new Animation(fadeOut, document.timeline);
// Démarrer l'animation après un délai
setTimeout(function () {
animation.play();
}, 3000); // 3 secondes
}
});

// ///////////////////////////////////////////////////////////////////////
// /////////////////Supprimer une annonce du recruteur////////////////////
document.querySelectorAll('.delete-jobListing').forEach(function (form) {
form.addEventListener('submit', function (event) {
event.preventDefault();
const overlay = document.getElementById('overlay');
overlay.style.display = 'block';
const dialogueBox = document.getElementById('dialogueBox');
dialogueBox.style.display = 'block';
dialogueBox.getElementsByTagName('p')[0].innerText = 'Êtes-vous sûr de supprimer cette annonce ?';
dialogueBox.getElementsByTagName('button')[1].addEventListener('click', function () {
form.submit();
overlay.style.display = 'none';
dialogueBox.style.display = 'none';
});
dialogueBox.getElementsByTagName('button')[0].addEventListener('click', function () {
overlay.style.display = 'none';
dialogueBox.style.display = 'none';
});
});
});



// ///////////////////////////////////////////////////////////////////////
// ////////Pour la suppression du compte du recruteur////////////////////
document.querySelectorAll('.delete-count').forEach(function (form) {
form.addEventListener('submit', function (event) {
event.preventDefault();
const overlay = document.getElementById('overlay');
overlay.style.display = 'block';
const dialogueBox = document.getElementById('dialogueBox');
dialogueBox.style.display = 'block';
dialogueBox.getElementsByTagName('p')[0].innerText = 'Êtes-vous sûr de vouloir supprimer votre compte ?';
dialogueBox.getElementsByTagName('button')[1].addEventListener('click', function () {
form.submit();
overlay.style.display = 'none';
dialogueBox.style.display = 'none';
});
dialogueBox.getElementsByTagName('button')[0].addEventListener('click', function () {
overlay.style.display = 'none';
dialogueBox.style.display = 'none';
});
});
});

</script>
	

</script>{% endblock %}
