{% extends 'base.html.twig' %}

{% block title %}Réponses annonce
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="afterHeader">
			<h1 class="pt-1">Réponse de l'annonce</h1>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-2"></div>
			<div class="col-lg-6 col-md-6 col-sm-8">
				<div class="m-2">
					<p class="display-4">
						Poste :
						<b>{{ annonce.poste }}</b><br>
						Lieu :
						<b>{{ annonce.lieu }}</b><br>
						Salaire:
						<b>{{ annonce.salaire }}</b><br><br>
						<span style="text-decoration: underline;">Description :</span>
						{{ annonce.description }}
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-2"></div>
		</div>


		{# {{ dump(annonce) }}  #}

		<div class="mt-5">
			<table class="table table-striped table-hover table-bordered table-border ">
				<thead class="colorThead text-center">
					<tr>
						<th>ID</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Métier</th>
						<th>Email</th>
						<th>CV</th>
					</tr>
				</thead>
					<tbody>

					{# {{ dump(annonce.candidatAnnonces) }}  #}
					{% for candidatAnnonce in annonce.candidatAnnonces %}
						{% if candidatAnnonce.candidat.approbationConsultant and candidatAnnonce.approbationConsultant %}
							<tr>
								<td class="text-center fs-5">{{ candidatAnnonce.annonce.id }}</td>
								<td class="text-center fs-5">{{ candidatAnnonce.candidat.prenom }}</td>
								<td class="text-center fs-5">{{ candidatAnnonce.candidat.nom }}</td>
								<td class="text-center fs-5">{{ candidatAnnonce.candidat.metier }}</td>
								<td class="text-center fs-5">{{ candidatAnnonce.candidat.email}}</td>
								{# <td class="text-center fs-5" ><button type="button" class="btn btn-primary">
									<a href="{{ asset('uploads/' ~ candidatAnnonce.candidat.cv) }}" download="{{ candidatAnnonce.candidat.cv }}" class="cv-link">
									Télécharger le CV</a></button></td> #}
								<td class="text-center fs-5">
									<button type="button" class="btn btn-primary">
										<a href="{{ path('download_cv', {'filename': candidatAnnonce.candidat.cv}) }}" class="cv-link">
											Télécharger le CV
										</a>
									</button>
								</td>
							</tr>
						{% endif %}
						
							
					{% endfor %}
				</tbody>
			</table>


		</div>
	</div>

	{% block javascripts %}
		<script>
			// Sélectionne le message flash
const successMessage = document.querySelector('#success-message');

// Masquer le message après 3 secondes
setTimeout(() => {
successMessage.style.display = 'none';
}, 3000);
		</script>
	{% endblock %}

{% endblock %}
